<div class="top-nav">
  <div class="menu-topbar">
    <img style="display: none;" class="menu-mobile" (click)="showSlide()" src="assets/img/icon/menu32px.png" alt="">
    <img class="logo" src="../../assets/img/icon_aisshop 1.png" alt="" />
    <!-- <div class="account-user">
      <div class="logo-user"></div>
      <div class="text-contact">
        <p>ติดต่อเรา</p>
      </div>
    </div> -->
  </div>
</div>
<!-- <div class="bottom-menu-nav" [class.active]="isActiveSlideBar">
    <div class="menu">
        <div class="menu-collection">
            <div class="menu-list">หน้าแรก</div>
            <div class="menu-list">ลูกค้าfibre</div>
            <div class="menu-list">ลูกค้าย้ายค่าย</div>
            <div class="menu-list">ลูกค้าเปิดซิมใหม่</div>
            <div class="menu-list">ลูกค้า Serenade</div>
            <div class="menu-list">ช้อปมือถือ</div>
            <div class="menu-list">วิธีการสมัคร</div>
            <div class="menu-list">วิธีการติดต่อ</div>
        </div>
    </div>
</div> -->


