<!-- <div class="wrap-swiper">
    <div class="swiper-container" [swiper]="config2">
        
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let slide of slides">
            <img src="{{slide.img}}" alt="">
          </div>
        </div>
      
        <div class="swiper-scrollbar"></div>
        <div class="swiper-pagination"></div>
      
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
</div>


 -->
