<div class="table-package">
    <div class="head-package">
        <h3>Package name</h3>
    </div>
    <div class="price-per-month">
        <p class="price-table">200</p><p class="unit-price-table">บาท/เดือน</p>
    </div>
    <div class="time-package">
        <p class="text-time-table">500/500</p><p class="unit-time-table">mbps</p>
    </div>
    <div class="detail-package">
        <button class="btn-detail" (click)="showMoreDetail()">รายละเอียด+</button>
    </div>
    <div *ngIf="detailTable1" class="detail-other">
        <!-- for ได้ -->
        <div class="list-detail">
            <div class="icon-detail">
                
            </div>
            <div class="more-detail">
                <p>AIS WIFI ไม่จำกัด</p>
            </div>
        </div> 
        <div class="list-detail">
            <div class="icon-detail">
                
            </div>
            <div class="more-detail">
                <p>AIS WIFI ไม่จำกัด</p>
            </div>
        </div> <div class="list-detail">
            <div class="icon-detail">
                
            </div>
            <div class="more-detail">
                <p>AIS WIFI ไม่จำกัด</p>
            </div>
        </div> 
        <div class="list-detail">
            <div class="icon-detail">
                
            </div>
            <div class="more-detail">
                <p>AIS WIFI ไม่จำกัด</p>
            </div>
        </div> 
    </div>
</div>